:root{
--base-dark: #680068;
--base-mid: #7A007A;
--base-light: #990099;
--base-superlight: #C000C0;
--background-light: #FFFFFF;
--background-mid: #FAFAFA;
--background-dark: #DBDBDB;
--text-light: #FFFFFF;
--text-dark: #000000;
}
